<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>views</key>
	<dict>
		<key>view</key>
		<dict>
			<key>clazz</key>
			<string>UIView</string>
			<key>properties</key>
			<dict>
				<key>backgroundColor</key>
				<string>#ff00ff</string>
			</dict>
		</dict>
	</dict>
	<key>constraints</key>
	<array>
		<string>view.centerX=super.centerX</string>
		<string>view.centerY=super.centerY</string>
		<string>view.width=super.width*0.5</string>
		<string>view.height=super.height*0.5</string>
	</array>
</dict>
</plist>
