<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>autoResize</key>
		<true/>
		<key>sections</key>
		<array>
			<dict>
				<key>inset</key>
				<string>{10,10,10,10}</string>
				<key>inner</key>
				<string>{10,15}</string>
				<key>alignment</key>
				<string>:left</string>
				<key>data</key>
				<array>
					<dict>
						<key>tag</key>
						<string>This</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>is</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>a</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>nested</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>collection</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>view</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>inside</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>the</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>table</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>view</string>
					</dict>
					<dict>
						<key>tag</key>
						<string>cell</string>
					</dict>
				</array>
				<key>item</key>
				<dict>
					<key>layout</key>
					<string>item.tag</string>
					<key>width</key>
					<string>:auto</string>
					<key>height</key>
					<string>27</string>
					<key>properties</key>
					<dict>
						<key>@label.text</key>
						<string>.$tag</string>
						<key>backgroundColor</key>
						<string>#F5F5F5</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
