<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>action</key>
		<string>client://im/CreateGroup</string>
		<key>rows</key>
		<array>
			<dict>
				<key>clazz</key>
				<string>PBInput</string>
				<key>properties</key>
				<dict>
					<key>name</key>
					<string>groupName</string>
					<key>placeholder</key>
					<string>请输入群组名称</string>
				</dict>
			</dict>
			<dict>
				<key>clazz</key>
				<string>UILabel</string>
				<key>height</key>
				<string>=&gt;@groupName?20:0</string>
				<key>properties</key>
				<dict>
					<key>text</key>
					<string>Got input</string>
				</dict>
			</dict>
			<dict>
				<key>clazz</key>
				<string>PBInput</string>
				<key>properties</key>
				<dict>
					<key>name</key>
					<string>introduction</string>
					<key>placeholder</key>
					<string>请输入群组简介</string>
					<key>text</key>
					<string>%(这是&quot; %@ &quot;的简介),=&gt;groupName</string>
					<key>value</key>
					<string>%(这是&quot; %@ &quot;的简介),=&gt;groupName</string>
				</dict>
			</dict>
			<dict>
				<key>clazz</key>
				<string>PBInput</string>
				<key>properties</key>
				<dict>
					<key>name</key>
					<string>faceURL</string>
					<key>placeholder</key>
					<string>请输入群组图标URL</string>
					<key>text</key>
					<string>%JS:string(&apos;placehold.it?text=&apos; + $1.charAt(0)),=&gt;groupName</string>
					<key>value</key>
					<string>%JS(&apos;https://placeholdit.imgix.net/~text?txtsize=96&amp;bg=78b8fc&amp;txtclr=f0f0f0&amp;w=165&amp;h=165&amp;txt=&apos; + encodeURI($1.charAt(0))),=&gt;groupName</string>
				</dict>
			</dict>
			<dict>
				<key>clazz</key>
				<string>UIButton</string>
				<key>height</key>
				<string>132</string>
				<key>properties</key>
				<dict>
					<key>title</key>
					<string>创建</string>
					<key>backgroundColor</key>
					<string>#ff00ff</string>
					<key>action</key>
					<dict>
						<key>type</key>
						<string>pop</string>
						<key>params</key>
						<dict>
							<key>title</key>
							<string>new</string>
						</dict>
						<key>next.done</key>
						<dict>
							<key>type</key>
							<string>toast</string>
							<key>params</key>
							<dict>
								<key>message</key>
								<string>Done!</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
