<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>layoutMargins</key>
		<string>{0,0,0,0}</string>
		<key>separatorInset</key>
		<string>{0,0,0,0}</string>
		<key>row</key>
		<dict>
			<key>clazz</key>
			<string>PBTableViewCell</string>
			<key>height</key>
			<string>184</string>
			<key>properties</key>
			<dict>
				<key>layoutMargins</key>
				<string>{0,0,0,0}</string>
				<key>separatorInset</key>
				<string>{0,0,0,0}</string>
				<key>imageMargin</key>
				<string>{24,36,30,36}</string>
				<key>imageSize</key>
				<string>{130,130}</string>
				<key>imageView.clipsToBounds</key>
				<true/>
				<key>imageView.layer.cornerRadius</key>
				<integer>13</integer>
				<key>imageView.avatarUrl</key>
				<string>.$customInfo.avatar</string>
				<key>textLabel.text</key>
				<string>.$nameCard</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
