<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>backgroundColor</key>
		<string>#fefefe</string>
		<key>row</key>
		<dict>
			<key>layout</key>
			<string>cell.view</string>
			<key>height</key>
			<string>44</string>
			<key>properties</key>
			<dict>
				<key>textLabel.backgroundColor</key>
				<string>#000@0</string>
			</dict>
		</dict>
		<key>section</key>
		<dict>
			<key>header</key>
			<dict>
				<key>height</key>
				<string>36</string>
				<key>titleFont</key>
				<string>{F:20}</string>
				<key>margin</key>
				<string>{0,6,0,0}</string>
				<key>backgroundColor</key>
				<string>$S.primaryColor</string>
				<key>titleColor</key>
				<string>#fff</string>
			</dict>
			<key>footer</key>
			<dict>
				<key>height</key>
				<string>:auto</string>
				<key>titleFont</key>
				<string>{F:14}</string>
				<key>margin</key>
				<string>{0,16,12,0}</string>
				<key>titleColor</key>
				<string>#666</string>
			</dict>
		</dict>
		<key>sections</key>
		<array>
			<dict>
				<key>header</key>
				<dict>
					<key>title</key>
					<string>textColor</string>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.textColor</key>
							<string>#333</string>
							<key>textLabel.text</key>
							<string>@&quot;#333 (#RGB)&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.textColor</key>
							<string>#ff0000</string>
							<key>textLabel.text</key>
							<string>@&quot;#ff0000 (#RRGGBB)&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.textColor</key>
							<string>#ff00007f</string>
							<key>textLabel.text</key>
							<string>@&quot;#ff00007f (#RRGGBBAA)&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.textColor</key>
							<string>#ff0000@0.5</string>
							<key>textLabel.text</key>
							<string>@&quot;#ff0000@0.5 (#RRGGBB@alpha)&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.textColor</key>
							<string>#000@0.2</string>
							<key>textLabel.text</key>
							<string>@&quot;#000@0.2 (#RGB@alpha)&quot;</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>header</key>
				<dict>
					<key>title</key>
					<string>font</string>
				</dict>
				<key>row</key>
				<dict>
					<key>properties</key>
					<dict>
						<key>textLabel.textColor</key>
						<string>#333</string>
					</dict>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.text</key>
							<string>@&quot;{F:%#d} (Default)&quot;,.textLabel.font.pointSize</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.font</key>
							<string>{F:14}</string>
							<key>textLabel.text</key>
							<string>@&quot;{F:14}&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.font</key>
							<string>{F:bold,18}</string>
							<key>textLabel.text</key>
							<string>@&quot;{F:bold,18}&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.font</key>
							<string>{F:italic,18}</string>
							<key>textLabel.text</key>
							<string>@&quot;{F:italic,18}&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>textLabel.font</key>
							<string>{F:Zapfino,14}</string>
							<key>textLabel.text</key>
							<string>@&quot;{F:Zapfino,14}&quot;</string>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
