<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nav</key>
	<dict>
		<key>title</key>
		<string>Pbind</string>
	</dict>
	<key>properties</key>
	<dict>
		<key>row</key>
		<dict>
			<key>actions</key>
			<dict>
				<key>select</key>
				<dict>
					<key>type</key>
					<string>push</string>
					<key>target</key>
					<string>.$target</string>
					<key>params</key>
					<dict>
						<key>title</key>
						<string>.textLabel.text</string>
						<key>plist</key>
						<string>.$plist</string>
						<key>grouped</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>properties</key>
			<dict>
				<key>textLabel.textAlignment</key>
				<string>:center</string>
				<key>accessoryType</key>
				<string>:&gt;</string>
			</dict>
		</dict>
		<key>rows</key>
		<array>
			<dict>
				<key>properties</key>
				<dict>
					<key>textLabel.text</key>
					<string>UIView</string>
					<key>data</key>
					<dict>
						<key>target</key>
						<string>PBTableViewController</string>
						<key>plist</key>
						<string>table.view</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>properties</key>
				<dict>
					<key>textLabel.text</key>
					<string>UILabel</string>
					<key>data</key>
					<dict>
						<key>target</key>
						<string>PBTableViewController</string>
						<key>plist</key>
						<string>table.label</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>properties</key>
				<dict>
					<key>textLabel.text</key>
					<string>UIButton</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
