<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>backgroundColor</key>
		<string>#eee</string>
		<key>row</key>
		<dict>
			<key>layout</key>
			<string>cell.view</string>
			<key>height</key>
			<string>44</string>
			<key>properties</key>
			<dict>
				<key>textLabel.backgroundColor</key>
				<string>#000@0</string>
			</dict>
		</dict>
		<key>section</key>
		<dict>
			<key>header</key>
			<dict>
				<key>height</key>
				<string>36</string>
				<key>titleFont</key>
				<string>{F:20}</string>
				<key>margin</key>
				<string>{0,6,0,0}</string>
				<key>backgroundColor</key>
				<string>$S.primaryColor</string>
				<key>titleColor</key>
				<string>#fff</string>
			</dict>
			<key>footer</key>
			<dict>
				<key>height</key>
				<string>:auto</string>
				<key>titleFont</key>
				<string>{F:12}</string>
				<key>margin</key>
				<string>{8,12,12,0}</string>
				<key>titleColor</key>
				<string>#666</string>
			</dict>
		</dict>
		<key>sections</key>
		<array>
			<dict>
				<key>header</key>
				<dict>
					<key>title</key>
					<string>backgroundColor</string>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.backgroundColor</key>
							<string>#eee</string>
							<key>textLabel.text</key>
							<string>@&quot;#eee (#RGB)&quot;</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.backgroundColor</key>
							<string>#ff0000</string>
							<key>textLabel.text</key>
							<string>`&apos;#ff0000 (#RRGGBB)&apos;`</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.backgroundColor</key>
							<string>#ff00007f</string>
							<key>textLabel.text</key>
							<string>`&apos;#ff00007f (#RRGGBBAA)&apos;`</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.backgroundColor</key>
							<string>#ff0000@0.5</string>
							<key>textLabel.text</key>
							<string>`&apos;#ff0000@0.5 (#RRGGBB@alpha)&apos;`</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.backgroundColor</key>
							<string>#000@0.2</string>
							<key>textLabel.text</key>
							<string>`&apos;#000@0.2 (#RGB@alpha)&apos;`</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>header</key>
				<dict>
					<key>title</key>
					<string>layer.borderColor</string>
				</dict>
				<key>row</key>
				<dict>
					<key>properties</key>
					<dict>
						<key>@view.layer.borderWidth</key>
						<string>1</string>
					</dict>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderColor</key>
							<string>##eee</string>
							<key>textLabel.text</key>
							<string>`&apos;##eee (##RGB)&apos;`</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderColor</key>
							<string>##ff0000</string>
							<key>textLabel.text</key>
							<string>`&apos;##ff0000 (##RRGGBB)&apos;`</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderColor</key>
							<string>##ff00007f</string>
							<key>textLabel.text</key>
							<string>`&apos;##ff00007f (##RRGGBBAA)&apos;`</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderColor</key>
							<string>##ff0000@0.5</string>
							<key>textLabel.text</key>
							<string>`&apos;##ff0000@0.5 (##RRGGBB@alpha)&apos;`</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderColor</key>
							<string>##000@0.2</string>
							<key>textLabel.text</key>
							<string>@&quot;##000@0.2 (##RGB@alpha)&quot;</string>
						</dict>
					</dict>
				</array>
				<key>footer</key>
				<dict>
					<key>title</key>
					<string>layer.borderWidth = 1</string>
				</dict>
			</dict>
			<dict>
				<key>header</key>
				<dict>
					<key>title</key>
					<string>layer.borderWidth</string>
				</dict>
				<key>row</key>
				<dict>
					<key>properties</key>
					<dict>
						<key>@view.layer.borderColor</key>
						<string>##ff0000</string>
					</dict>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderWidth</key>
							<string>1</string>
							<key>textLabel.text</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderWidth</key>
							<string>2</string>
							<key>textLabel.text</key>
							<string>2</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderWidth</key>
							<string>3</string>
							<key>textLabel.text</key>
							<string>3</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderWidth</key>
							<string>5</string>
							<key>textLabel.text</key>
							<string>5</string>
						</dict>
					</dict>
				</array>
				<key>footer</key>
				<dict>
					<key>title</key>
					<string>supports inner border only</string>
				</dict>
			</dict>
			<dict>
				<key>header</key>
				<dict>
					<key>title</key>
					<string>layer.cornerRadius</string>
				</dict>
				<key>row</key>
				<dict>
					<key>properties</key>
					<dict>
						<key>@view.layer.borderWidth</key>
						<string>1</string>
					</dict>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderColor</key>
							<string>##ff0000</string>
							<key>@view.layer.cornerRadius</key>
							<string>5</string>
							<key>textLabel.text</key>
							<string>5</string>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view.layer.borderColor</key>
							<string>##ff0000</string>
							<key>@view.layer.cornerRadius</key>
							<string>@view.frame.size.height/2</string>
							<key>textLabel.text</key>
							<string>@&quot;@view.frame.size.height / 2 = %@&quot;,@view.frame.size.height/2</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>header</key>
				<dict>
					<key>title</key>
					<string>layer.shadow*</string>
				</dict>
				<key>row</key>
				<dict>
					<key>height</key>
					<string>:auto</string>
					<key>properties</key>
					<dict>
						<key>@view.backgroundColor</key>
						<string>#fff</string>
						<key>@view.layer.cornerRadius</key>
						<string>5</string>
						<key>@tips.textColor</key>
						<string>#333</string>
					</dict>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view</key>
							<dict>
								<key>layer.shadowColor</key>
								<string>##ff0000</string>
								<key>layer.shadowOffset</key>
								<string>{0,0}</string>
								<key>layer.shadowRadius</key>
								<string>4</string>
								<key>layer.shadowOpacity</key>
								<string>1</string>
							</dict>
							<key>@tips.text</key>
							<string>layer.shadowColor=##ff0000\nlayer.shadowOffset={0,0}\nlayer.shadowRadius=4\nlayer.shadowOpacity=1</string>
							<key>@tips.numberOfLines</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>properties</key>
						<dict>
							<key>@view</key>
							<dict>
								<key>layer.shadowColor</key>
								<string>##333</string>
								<key>layer.shadowOffset</key>
								<string>{0,4}</string>
								<key>layer.shadowRadius</key>
								<string>4</string>
								<key>layer.shadowOpacity</key>
								<string>0.5</string>
							</dict>
							<key>@tips.text</key>
							<string>layer.shadowColor=##333\nlayer.shadowOffset={0,4}\nlayer.shadowRadius=4\nlayer.shadowOpacity=0.5</string>
							<key>@tips.numberOfLines</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
