<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>separatorStyle</key>
		<string>:none</string>
		<key>sections</key>
		<array>
			<dict>
				<key>rows</key>
				<array>
					<dict>
						<key>clazz</key>
						<string>PBCollectionsCell</string>
						<key>height</key>
						<string>:auto</string>
						<key>properties</key>
						<dict>
							<key>backgroundColor</key>
							<string>#fff</string>
							<key>.collectionView</key>
							<dict>
								<key>plist</key>
								<string>collect.demo</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>rows</key>
				<array>
					<dict>
						<key>height</key>
						<integer>500</integer>
						<key>clazz</key>
						<string>PBCollectionsCell</string>
						<key>id</key>
						<string>abc</string>
						<key>properties</key>
						<dict>
							<key>collectionView.autoResize</key>
							<false/>
							<key>backgroundColor</key>
							<string>#f00</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>rows</key>
				<array>
					<dict>
						<key>clazz</key>
						<string>PBCollectionsCell</string>
						<key>height</key>
						<string>:auto</string>
						<key>properties</key>
						<dict>
							<key>backgroundColor</key>
							<string>#fff</string>
							<key>.collectionView</key>
							<dict>
								<key>plist</key>
								<string>collect.demo</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
