<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nav</key>
	<dict>
		<key>right</key>
		<dict>
			<key>type</key>
			<string>:share</string>
			<key>action</key>
			<dict>
				<key>type</key>
				<string>sheet</string>
				<key>params</key>
				<dict>
					<key>title</key>
					<string>Pbind</string>
					<key>message</key>
					<string>Click navigation right item!</string>
					<key>buttons</key>
					<array>
						<string>Cancel</string>
						<string>OK</string>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>backgroundColor</key>
		<string>#eee</string>
		<key>rows</key>
		<array>
			<dict>
				<key>clazz</key>
				<string>PBButton</string>
				<key>height</key>
				<string>44</string>
				<key>margin</key>
				<string>{8,8,0,8}</string>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#fff</string>
					<key>textColor</key>
					<string>#333</string>
					<key>text</key>
					<string>!click action for UIControl</string>
					<key>!click</key>
					<dict>
						<key>type</key>
						<string>alert</string>
						<key>params</key>
						<dict>
							<key>title</key>
							<string>@&quot;Click %@!&quot;,.class</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>clazz</key>
				<string>UILabel</string>
				<key>height</key>
				<string>44</string>
				<key>margin</key>
				<string>{8,8,0,8}</string>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#fff</string>
					<key>textColor</key>
					<string>#333</string>
					<key>textAlignment</key>
					<string>:center</string>
					<key>text</key>
					<string>!click action for non-UIControl</string>
					<key>!click</key>
					<dict>
						<key>type</key>
						<string>alert</string>
						<key>params</key>
						<dict>
							<key>title</key>
							<string>@&quot;Click %@!&quot;,.class</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>clazz</key>
				<string>PBTableView</string>
				<key>height</key>
				<string>132</string>
				<key>margin</key>
				<string>{8,8,0,8}</string>
				<key>properties</key>
				<dict>
					<key>scrollEnabled</key>
					<false/>
					<key>row</key>
					<dict>
						<key>height</key>
						<string>44</string>
						<key>actions</key>
						<dict>
							<key>select</key>
							<dict>
								<key>type</key>
								<string>alert</string>
								<key>params</key>
								<dict>
									<key>title</key>
									<string>@&quot;Click cell at [%#i, %#i]!&quot;,.indexPath.section,.indexPath.row</string>
								</dict>
							</dict>
						</dict>
					</dict>
					<key>rows</key>
					<array>
						<dict>
							<key>properties</key>
							<dict>
								<key>textLabel.text</key>
								<string>select action for UITableViewCell</string>
							</dict>
						</dict>
						<dict>
							<key>properties</key>
							<dict>
								<key>textLabel.text</key>
								<string>Swipe left to show delete action</string>
							</dict>
							<key>actions</key>
							<dict>
								<key>delete</key>
								<dict>
									<key>type</key>
									<string>alert</string>
									<key>params</key>
									<dict>
										<key>title</key>
										<string>@&quot;delete cell at [%#i, %#i]&quot;,.indexPath.section,.indexPath.row</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>properties</key>
							<dict>
								<key>textLabel.text</key>
								<string>Swipe left to show custom actions</string>
							</dict>
							<key>actions</key>
							<dict>
								<key>edits</key>
								<array>
									<dict>
										<key>type</key>
										<string>alert</string>
										<key>params</key>
										<dict>
											<key>title</key>
											<string>Pbind</string>
											<key>message</key>
											<string>Less code, more effecient!</string>
										</dict>
										<key>properties</key>
										<dict>
											<key>title</key>
											<string>Pbind</string>
											<key>backgroundColor</key>
											<string>$S.primaryColor</string>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>alert</string>
										<key>params</key>
										<dict>
											<key>title</key>
											<string>I love it!</string>
										</dict>
										<key>properties</key>
										<dict>
											<key>title</key>
											<string>👍</string>
											<key>backgroundColor</key>
											<string>#2ecc71</string>
										</dict>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>clazz</key>
				<string>PBCollectionView</string>
				<key>height</key>
				<string>104</string>
				<key>margin</key>
				<string>{8,0,0,0}</string>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#fff</string>
					<key>horizontal</key>
					<true/>
					<key>data</key>
					<array>
						<string>select action</string>
						<string>for item in</string>
						<string>UICollectionView</string>
					</array>
					<key>section</key>
					<dict>
						<key>inset</key>
						<string>{8,8,8,8}</string>
						<key>inner</key>
						<string>{8,8}</string>
					</dict>
					<key>row</key>
					<dict>
						<key>height</key>
						<string>88</string>
						<key>width</key>
						<string>200</string>
						<key>layout</key>
						<string>header.common</string>
						<key>properties</key>
						<dict>
							<key>backgroundColor</key>
							<string>#eee</string>
							<key>@title</key>
							<dict>
								<key>textColor</key>
								<string>#333</string>
								<key>text</key>
								<string>.$</string>
								<key>textAlignment</key>
								<string>:center</string>
								<key>numberOfLines</key>
								<string>0</string>
							</dict>
						</dict>
						<key>actions</key>
						<dict>
							<key>select</key>
							<dict>
								<key>type</key>
								<string>alert</string>
								<key>params</key>
								<dict>
									<key>title</key>
									<string>@&quot;Click item at [%#i, %#i]!&quot;,.indexPath.section,.indexPath.row</string>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
